<div>
	
	<div class="col-sm-4 user_meta">
		
		<contact userdata="cvbCtrl.user_data"></contact>
		<skills userdata="cvbCtrl.user_data"></skills>
		<references userdata="cvbCtrl.user_data"></references>
	</div>

	<div class="col-sm-8 user_main">
		
		<div class="profile">
			
			<div class="col-sm-3">
				<img height="150" src="https://www.shareicon.net/download/2015/09/18/103157_man_512x512.png">
			</div>
			<div class="col-sm-9">
				
				<h3 class="uppercase">Profile</h3> 
				<div class="justify min150">
				<h5>
					{{cvbCtrl.user_data.about}}
				</h5>
				</div>

			</div>

			<experience userdata="cvbCtrl.user_data"></experience>
			<education userdata="cvbCtrl.user_data"></education>

		</div>

		

	</div>

</div>