<div class="item_container side_items">
<h3 class="uppercase">Contact</h3>
<div>
	<md-button class="md-fab md-mini md-raised adjusted_icon_btn"><i class="fa fa-home"> </i> </md-button> {{contCtrl.user_data.contact.address}}
</div>

<div>
	<md-button class="md-fab md-mini md-raised adjusted_icon_btn">
		<i class="fa fa-mobile" aria-hidden="true"></i>
	</md-button> {{contCtrl.user_data.contact.phone}}
</div>

<div>
	<md-button class="md-fab md-mini md-raised adjusted_icon_btn">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</md-button> {{contCtrl.user_data.contact.twitter}}
</div>

<div>
	<md-button class="md-fab md-mini md-raised adjusted_icon_btn">
		<i class="fa fa-facebook" aria-hidden="true"></i>
	</md-button> {{contCtrl.user_data.contact.facebook}}
</div>

<div>
	<md-button class="md-fab md-mini md-raised adjusted_icon_btn">
		<i class="fa fa-envelope-o" aria-hidden="true"></i>
	</md-button> {{contCtrl.user_data.contact.email}}
</div>
 

</div>